version: "3.8"

services:
  frontend:
    build: .
    command: "npm run dev"
    container_name: frontend
    volumes:
      - .:/home/app:cached
    ports:
      - "8080"
    expose:
      - "8080"
    networks:
      - default

networks:
  default:
    external:
      name: topaly-proxy
